* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}


html{
  height: 100%;
} 

body{
  font-family: "Arial", Helvetica, sans-serif;
  position: relative;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#container{
  text-align: center;
  position: relative;
  
  height: 50%;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 30px;
}

#movies_booked, #form{
  display: inline-block;
  width: 40%;
  height: 50%;
  margin: 0 auto;
  vertical-align:text-top;
  
}

fieldset, #movies_booked{
  /*border:1px solid #AED0EA;*/
  border:1px solid black;
  border-radius:8px;
  box-shadow:0 0 10px #D7EBF9;
  background: rgba(0, 0, 0, 0.60);
}

legend, #disount_title{
  color: #2779AA;
  font-size: 120%;
  text-align: center;
  background-color: white;
}

p{
  overflow: hidden;
}

label{
  width: 50%;
  text-align: right;
  float: left;
  clear: both;
  color: white;
}

p input, p select{
  width: 40%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  /* color: white; */

  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  padding: 12px 12px 12px 40px;
  width: 85.2%;
  border: none;
  -webkit-appearance: none;
  /* margin-bottom: 12px; */
  border-radius:10px;
  box-shadow:0px 0px 10px #000;

}

#total_price, li, #perTicketPrice, #note{
  color: white;
}

p span, li{
  text-align: left;
}

#submit_wrapper{
  text-align: center;
}

#submit{
  /* font-size: 13px; */
  font-weight: bold;
    width: 100%;
    background: #19b9cc;
    border: none;
    
    outline: none;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 14px ;
    color: #fff;
    text-transform: uppercase;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    cursor: pointer;
    border-radius:10px;
  	box-shadow:0px 0px 10px #000;
}

#discount, #perTicketPrice{
  text-align: left;
}

#dateNote{
  font-size: 9px;
}
#movies_booked {
  color: white;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}